<section class="blog spad mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item categories__bottomright">
                    <div class="blog__item__pic large__item set-bg" style="background-size: 130%;"
                        [style.backgroundImage]="'url(' + boardImageUrl + ')'"></div>
                    <div class="blog__item__text">
                        <h6>
                            <a routerLink="/shop" routerLinkActive="router-link-active">
                                Shop Boards
                            </a>
                        </h6>
                        <ul>
                            <!-- <li>by <span>adfs</span></li> -->
                            <!-- <li>Seb 17, 2019</li> -->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg"
                        style="background-size: 140%; background-position: center -90px;"
                        [style.backgroundImage]="'url(' + logoImageUrl + ')'"></div>
                    <div class="blog__item__text">
                        <h6>
                            <a routerLink="/shop" routerLinkActive="router-link-active">
                                Welcome to Vapor Shop
                            </a>
                        </h6>
                        <ul>
                            <li><span></span></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </div>
                <div class="blog__item categories__topleft">
                    <div class="blog__item__pic set-bg" style="background-size: 80%;"
                        [style.backgroundImage]="'url(' + gloveImageUrl + ')'"></div>
                    <div class="blog__item__text">
                        <h6>
                            <a routerLink="/shop" routerLinkActive="router-link-active">
                                Shop Gloves
                            </a>
                        </h6>
                        <ul>
                            <li><span></span></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item categories__topright">
                    <div class="blog__item__pic set-bg" style="background-size: 80%;"
                        [style.backgroundImage]="'url(' + bootImageUrl + ')'">
                    </div>
                    <div class="blog__item__text">
                        <h6>
                            <a routerLink="/shop" routerLinkActive="router-link-active">
                                Shop Boots
                            </a>
                        </h6>
                        <ul>
                            <li><span></span></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </div>
                <div class="blog__item categories__bottomleft">
                    <div class="blog__item__pic set-bg" style="background-size: 80%;"
                        [style.backgroundImage]="'url(' + hatImageUrl + ')'">
                    </div>
                    <div class="blog__item__text">
                        <h6>
                            <a routerLink="/shop" routerLinkActive="router-link-active">
                                Shop Hats
                            </a>
                        </h6>
                        <ul>
                            <li><span></span></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 text-center">
                <a routerLink="/shop" routerLinkActive="router-link-active" class="primary-btn load-btn">
                    Shop Now
                </a>
            </div>
        </div>
    </div>
</section>
