<div class="container" style="margin-top: 140px;" *ngIf="(basket$ | async) === null">
    <h4>No items in basket</h4>
</div>

<section class="shop-cart spad">
    <div *ngIf="basket$ | async as basket" class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-basket-summary
                    (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)"
                    (remove)="removeItemFromBasket($event)"
                    [items]="basket.items"
                >
                </app-basket-summary>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="#">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!-- <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div> -->
            </div>
            <div class="col-lg-4 offset-lg-2">
                <app-order-totals
                    *ngIf="(basketTotal$ | async)"
                    [shippingPrice]="(basketTotal$ | async).shipping"
                    [subtotal]="(basketTotal$ | async).subtotal"
                    [total]="(basketTotal$ | async).total"
                >
                </app-order-totals>
            </div>
        </div>
    </div>
</section>
