<form action="#" class="checkout__form" [formGroup]="checkoutForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" formGroupName="deliveryForm">
                <h5>Delivery Method</h5>
                <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let method of deliveryMethods">
                    <div class="checkout__form__checkbox">
                        <label for="{{method.id}}">
                            {{method.shortName}} - {{method.price | currency}}
                            <span style="font-size: small; display: block; margin-top: 5px;">
                                {{method.description}}
                            </span>
                            <input type="radio" id={{method.id}} (click)="setShippingPrice(method)"
                                value="{{method.id}}" formControlName="deliveryMethod">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<button type="submit" class="site-btn" style="margin-right: 43.5%;" cdkStepperPrevious>
    Back to Address
</button>
<button [disabled]="checkoutForm.get('deliveryForm').invalid" class="site-btn" cdkStepperNext >
    Continue to Review
</button>
