<header class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-md-between py-3 mb-4 border-bottom bg-white fixed-top">
    <img src="assets/images/logo.png" routerLink="/" class="logo ms-4" style="max-height: 50px;" alt="logo">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 custom-padding-start">
        <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link px-2">HOME</a></li>
        <li><a routerLink="/shop" routerLinkActive="active" class="nav-link px-2 ">SHOP</a></li>
        <li><a href="#" class="nav-link px-2 ">CONTACT</a></li>
    </ul>

    <div class="d-flex align-items-center col-md-2 text-end me-4">
        <a class="me-auto position-relative">
            <i class="fa fa-shopping-cart fa-2x text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-outline-dark">Sign-up</button>
    </div>
</header>
