<section class="shop-cart spad" *ngIf="orders && orders.length === 0">
    <div class="container">
        <h4>No orders found</h4>
    </div>
</section>

<section class="shop-cart spad">
    <div *ngIf="orders && orders.length > 0" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="order-orders">Order</th>
                                <th class="order-date">Date</th>
                                <th class="order-total">Total</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart__table__orders" *ngFor="let order of orders"
                                routerLink="/orders/{{order.id}}">
                                <td class="cart__product__item order-number">
                                    <div class="cart__product__item__title">
                                        <h6>#{{order.id}}</h6>
                                    </div>
                                </td>
                                <td class="cart__price order-date">{{order.orderDate | date: 'medium'}}</td>
                                <td class="cart__quantity order-total">
                                    <div class="pro-qty">
                                        <input type="text" value="{{order.total | currency}}">
                                    </div>
                                </td>
                                <td class="cart__total">{{order.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
