<div class="product__item">
    <div class="product__item__pic set-bg" [style.background-image]="'url(' + product.pictureUrl + ')'">
        <div class="label new">New</div>
        <ul class="product__hover">
            <li><a [href]="product.pictureUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
            <li><a routerLink="/shop/{{product.id}}"><span class="icon_bag_alt"></span></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6>
            <a routerLink="/shop/{{product.id}}">
                {{product.name}}
            </a>
        </h6>
        <div class="product__price">
            {{product.price | currency}}
        </div>
    </div>
</div>
