<section class="shop-cart spad">
    <div class="container" *ngIf="order">
        <div class="row">
            <div class="col-lg-12">
                <app-basket-summary [items]="order.orderItems" [isBasket]="false" [isOrder]="true">
                </app-basket-summary>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-4 offset-lg-2">
                <app-order-totals [isBasket]="false" [shippingPrice]="order.shippingPrice" [subtotal]="order.subtotal"
                    [total]="order.total">
                </app-order-totals>
            </div>
        </div>
    </div>
</section>
